body {
    padding: 20px;
    background-color: #cfe2f3;    height: 100vh;

  }

  .cart-table {
    width: 100%;
  }

  .cart-table th,
  .cart-table td {
    vertical-align: middle;
    text-align: center;
  }

  .cart-total {
    font-size: 18px;
    font-weight: bold;
  }

  .cart-actions {
    text-align: right;
    margin-top: 20px;
  }

  .container{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }