 /* Estilos CSS personalizados */
 body {
    background-color: #cfe2f3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .btn-info {
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

 
  .container{
    margin-bottom: 20%;

  }