<section>
     

    <div class="hero">
      <div class="container">
        <h2>Productos Populares</h2>
      </div>
    </div>

    <div class="categories">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="category-card">
              <a class="nav-link" routerLink="/producto/index"><img src="../../assets/4.jpg" alt="Pienso para Perros"></a>
              <h3>Pienso para Perros</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-card">
              <a class="nav-link" routerLink="/producto/index"><img src="../../assets/8.jpg" alt="Juguetes Perro"></a>
              <h3>Juguetes Perro</h3>
            </div>
          </div>
        </div>
      </div>
    </div>




  </section>

  <section>
    <div class="hero">
      <div class="container">
        <h2>Categorias Populares</h2>
      </div>
    </div>
    <div class="categories">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="category-card">
              <a class="nav-link" routerLink="/categoria/index"><img src="../../assets/comida.PNG" alt="Comida"></a>
              <h3>Comida</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-card">
              <a class="nav-link" routerLink="/categoria/index"><img src="../../assets/juguetes.PNG" alt="Juguetes"></a>
              <h3>Juguetes</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>