<div class="container">
  
  <div class="d-flex justify-content-between">
    <h4>Editar usuario</h4>
    <a href="#" routerLink="/usuario/index" class="btn btn-primaryt">Atrás</a>
  </div>

  <hr>

  <form [formGroup]="form" (ngSubmit)="submit()">


      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="nombre">nombre:</label>
            <input
              formControlName="nombre"
              [(ngModel)]="usuario.nombre"
              id="nombre"
              type="text"
              class="form-control"/>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="correo">Correo:</label>
            <input
              formControlName="correo"
              [(ngModel)]="usuario.correo"
              id="correo"
              type="text"
              class="form-control"/>
            </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 ">
          <label for="direccion">direccion:</label>
          <input
            [(ngModel)]="usuario.direccion"
            formControlName="direccion"
            id="direccion"
            type="text"
            class="form-control"/>
          </div>
    </div>
      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="telefono">telefono:</label>
            <input
              [(ngModel)]="usuario.telefono"
              formControlName="telefono"
              id="telefono"
              type="text"
              class="form-control"/>
            </div>
      </div>

      <button class="btn btn-primary" type="submit" >Actualizar</button>
  </form>
</div>
